.SolarButton span {
	display:none;
}

.SolarButton .zoomSolarButton {
	padding:2px;
	width:28px;
	height:28px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:pointer;
	border-radius:2px;
	border: solid 0.0em;
	background-image:url(../images/sun.png);
	background-position:center center;
	background-repeat:no-repeat;
}

.SolarButton .zoomSolarButton:hover {
	border: solid 0.1em;
	border-color: black;
}

.SolarButton .zoomSolarButton:active {
}

.SolarButton .zoomSolarButtonOn {
	border: solid 0.1em;
	border-color: black;
}